# Spring Boot
target/
logs/
src/main/resources/application.properties
src/main/resources/application.yaml
src/main/resources/application-docker.properties
src/main/resources/application-docker.yaml

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
# VS Code
.vscode/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
